.button-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

.role-button-container {
  display: flex;
  align-items: center;
}

.role-text {
  margin-right: 8px;
  margin-bottom: 0;
  line-height: 24px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.centered-icon {
  margin: auto;
}

.logout-icon {
  display: flex;
  align-items: center;
  color: orange;
}

.logout-icon:hover {
  border: solid 2px rgb(131, 77, 166);
  background-color: #371474;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
}